* {
    margin: 0;
    padding: 0;
    vertical-align: 0;
}

body {
	color: #666666;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
}

ol, ul, dl {
    list-style: none outside none;
}

input,
textarea{
	padding: 5px;
	font-size: 95%;
	line-height: 1.0;
	font-family: 'ＭＳ Ｐゴシック',sans-serif;
}

input.check{
	vertical-align: -0.2em;
}

p{
	font-size: 80%;
	line-height: 1.5;
}

div#main{
	margin: 30px auto 0 auto;
	width: 650px;
}

div#main h1{
	text-align: center;
	margin-bottom: 30px;
}

div#main h2{
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	font-size: 130%;
	line-height: 1.8;
	border-bottom: 2px solid #FF6076;
}

div#main h2 span{
	color: #FF6076;
	padding-left: 10px;
	padding-right: 5px;
}

div#main h2 span.t-time{
	position: absolute;
	top: 10px;
	right: 0;
	color: #000000;
	font-size: 70%;
	font-weight: normal;
}

a.thread_new,
a.back, a.entry{
	width: 120px;
	display: block;
	padding: 8px 20px;
	color: #333333;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 5px solid #87CEEB;
}

a.thread_new{
	margin: 0 10px 0 auto;
}


a.thread_new:hover,
a.back:hover,
a.entry:hover{
	border: 5px solid #FF9D00;
}

div.entry-box{
	width: 570px;
	padding: 20px 40px;
	background-color: #FFEAE9;
}

table.entry{
	margin-bottom: 20px;
	width: 560px;
	border-spacing:0;
	border-collapse:collapse;
}

table.entry th,
table.entry td{
/*	height: 60px; */
	padding: 15px 8px;
	text-align: left;
	line-height: 1.0;
	border-bottom: 1px dotted #FF6076;
	font-size: 80%;
}

table.entry th{
	width: 25%;
	color: #666666;
	font-size: 80%;
}

span.case{
	padding-left: 3px;
}

div.btn-area{
	text-align: center;
}

div.btn-area-top{
	text-align: right;
	margin-bottom: 10px;
}

div.bbs-box{
	margin: 30px auto;
	width: 650px;
}

table.thread{
	width: 650px;
	border: 1px solid #FF6076;
}

table.thread th,
table.thread td{
	padding: 5px 10px;
	font-size: 95%;
	line-height: 1.5;
	border: 1px solid #FF6076;
}

table.thread td.id{
	width: 10%;
	text-align: center;
	vertical-align: middle;
}

table.thread td.title{
	width: 80%;
}

table.thread td.comment{
	width: 62%;
}

table.thread td.date{
	text-align: center;
	vertical-align: middle;
}

table.thread td.btn-edit{
	vertical-align: middle;
}

div.link-area{
	margin-top: 30px;
	width: 650px;
	font-size: 95%;
	text-align: center;
}

div.link-area a{
	color: #0099cc;
}

div.err-box{
	margin: 0 auto 20px auto;
	padding: 20px;
	width: 610px;
	border: 1px solid #FF0000;
}

div.err-box p{
	text-align: center;
	padding-bottom: 8px;
}

div.err-box p.err{
	padding-bottom: 5px;
	color: #FF0000;
	font-size: 95%;
}

p.err-txt{
	padding-top: 5px;
	color: #FF0000;
	font-size: 12px;
}

