
div#main{
	margin: 30px auto 0 auto;
	width: 450px;
}

p.txt{
	padding-left: 10px;
	margin-bottom: 15px;
}

table{
	margin: 0 10px;
	border-spacing: 0;
	border-collapse: collapse;
}

table th,
table td{
	padding: 8px 18px;
	text-align: left;
	border: 1px solid #CCCCCC;
}

table th{
	width: 35%;
	font-size: 14px;
	background-color: #FAEBD7;
}

div.btn-area{
	margin-top: 20px;
}