
div.login-box{
	margin: 30px auto 0 auto;
	width: 650px;
}

p.txt{
	padding-left: 10px;
	margin-bottom: 15px;
}

table{
	margin: 0 auto;
	border-spacing: 0;
	border-collapse: collapse;
}

table th,
table td{
	padding: 8px 18px;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #CCCCCC;
}

table th{
	width: 35%;
	font-size: 14px;
	background-color: #FAEBD7;
}

div.btn-area{
	margin-top: 20px;
}



div.signup-link{
	padding-top: 20px;
	text-align: center;
}

div.signup-link a{
	font-size: 14px;
	color: #0FB4D8;
	text-decoration: underline;
}

div.signup-link a:hover{
	color: #FF9D00;
	text-decoration: none;
}