div.list-box{
	margin: 0 auto 30px auto;
	width: 730px;
	padding: 20px;
	border: 5px solid #CCCCCC;
}

div.links,
p.info{
	padding-right: 10px;
	text-align: right;
}

p.text{
	padding-left: 30px;
	font-size: 15px;
}

p.info{
	font-size: 14px;
}

p.info span.name{
	color: #FF6076;
	font-weight: bold;
}

div.links a{
	color: #0FB4D8;
	font-size: 13px;
	text-decoration: underline;
}

div.links a:hover{
	color: #FF9D00;
	text-decoration: none;
}

ul.list li.thread{
	padding-bottom: 10px;
	border-bottom: 2px solid #CCCCCC;
}

ul.list li.res{
	padding: 10px 0 10px 8px;
	border-bottom: 2px solid #CCCCCC;
}

ul.list li.res p.info{
	text-align: left;
}


div.entry-box,
div.login-note{
	margin-top: 30px;
}


div.entry-box{
	margin: 0 auto 50px auto;
	width: 730px;
	padding: 20px;
	border: 5px solid #FFD2D1;
}

table.entry{
	margin: 20px auto;
	width: 640px;
	border-spacing:0;
	border-collapse:collapse;
}

table.entry th,
table.entry td{
	padding: 15px 8px;
	text-align: left;
	vertical-align: middle;
	line-height: 1.0;
	border-top: 1px dotted #FF6076;
	border-bottom: 1px dotted #FF6076;
	font-size: 80%;
}

table.entry th{
	padding-left: 40px;
	width: 25%;
	color: #666666;
	font-size: 80%;
}

div.login-note{
	width: 650px;
	margin: 30px auto 0;
}

div.login-note a{
	margin: 0 auto;
	width: 150px;
	display: block;
	padding: 12px 20px;
	color: #333333;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 5px solid #87CEEB;
}

div.login-note a:hover{
	border: 5px solid #FF9D00;
}