

p.txt{
	padding-left: 10px;
	margin-bottom: 15px;
}

table{
	width: 100%;
	margin-left: 0 auto;
	border-spacing: 0;
	border-collapse: collapse;
}

table th,
table td{
	padding: 8px 18px;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #CCCCCC;
}

table th{
	font-size: 14px;
	text-align: center;
	background-color: #FAEBD7;
}

table th.btn{
	width: 50px;
}

table td {
	font-size: 13px;
}

table td a{
	color: #0FB4D8;
}

table td a:hover{
	color: #FF6600;
	text-decoration: none;
}